header h1 a {
		color: #fff;
		text-decoration: none;
	}
	
      body, html {
        height: 100%;
        margin: 0;
        overflow: hidden;
      }
      #player {
        width: 100%;
        height: 80%;
      }
	  
	  body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
			height: 100%;
			margin: 0;
			overflow: hidden;
        }
	#conteudo {
		width: 100%;
		height: calc(100vh - 50px); /* Ajuste o valor de 50px de acordo com o tamanho do seu cabeçalho e rodapé */
		overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
		overflow-x: hidden; /* Evita a barra de rolagem horizontal */
	}
	header {
		background-color: #16506e;
		padding: 10px;
		text-align: center;
		color: #fff;
	}
	nav {
		background-color: #ddd;
		padding: 10px;
		text-align: center;
	}
	nav a {
		margin: 0 10px;
		text-decoration: none;
		color: #333;
		font-weight: bold;
	}
	nav ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: inline-block;
	}
	nav ul li {
		display: inline-block;
	}
	nav ul li ul {
		display: none;
		position: absolute;
		background-color: #ddd;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	nav ul li:hover ul {
		display: block;
	}
	nav ul li ul li {
		display: block;
	}
	section {
		padding: 20px;
	}
	table {
            border-collapse: collapse;
            width: 100%;
            height: 100vh; /* 100% da altura da viewport */
            overflow: auto; /* Adiciona scrollbar quando necessário */
            border: none;
			display:block;
        }
	th, td {
            border: 1px solid #16506e;
            padding: 8px;
            text-align: center;
            border: none;
	}
	th {
		background-color: #16506e;
		color: white;
	}
	tr:nth-child(odd) {
		background-color: #f7f9fa;
		color: black;
	}
	tr:nth-child(even) {
		background-color: #16506e;
		color: white;
	}
	h2 {
            text-align: center;
    }
    h4 {
            text-align: center;
    }
	iframe {
            width: 100%; /* 100% da largura do contêiner pai (o corpo do documento) */
            height: 100vh; /* 100% da altura da viewport do navegador */
            border: none; /* Remove a borda padrão do iframe */
			overflow: hidden;
    }